/*
MY COLOR PALETTE
Liver - #7A5C58
Pink - #F8BCD4
Plum - #FA97DA
Violet - #F679E5
Purple pizzazz - #F65BE3
*/
body {
    
    background-color:#7A5C58; 
    text-align:center;
}
button {
    background-color:#F8BCD4;
    color:#7A5C58;
    font-family:'Abril Fatface', sans-serif;
    width:150px;
    padding:15px;
    margin-top: 100px;
    border:none;
    border-radius: 50px;
    
}
button:hover {
    background-color:#F679E5 
}
h1 {
    font-family: 'Abril Fatface', serif;
    color:#FA97DA
    
}
h2{font-family:'Abril Fatface', serif;
     color:#FA97DA
    
    
}