@media (min-width: 768px) { 
  body {
    padding: 20px;
  }

    p {
        padding: 20px;
    }
  /* styles.css */
.frederick_chart {
    width: 80%;  /* Resize the width to 80% of the container */
    height: fit-content; /* Maintain the aspect ratio */
    max-width: 30px; 

  }} 


